<section class="vh-100" style="background-color: #eee">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Sign up
                </p>

                <form
                  (ngSubmit)="isValid() && dishForm.valid && register()"
                  class="mx-1 mx-md-4"
                  #dishForm="ngForm"
                >
                  <!-- <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <small class="text-danger" *ngIf="!name.valid"
                        >Name is required</small
                      >
                      <input
                        type="text"
                        id="form3Example1c"
                        class="form-control"
                        name="yourname"
                        required
                        minlength="3"
                        [(ngModel)]="userForm.name"
                        #name="ngModel"
                      />

                      <label class="form-label" for="form3Example1c"
                        >Your Name</label
                      >
                    </div>
                  </div> -->

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <small class="text-danger" *ngIf="!email.valid"
                        >Email is required</small
                      >
                      <input
                        type="email"
                        id="form3Example3c"
                        class="form-control"
                        name="email"
                        required
                        [(ngModel)]="userForm.username"
                        #email="ngModel"
                      />
                      <label class="form-label" for="form3Example3c"
                        >Your Email</label
                      >
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <small class="text-danger" *ngIf="!password.valid"
                        >Password is required</small
                      >
                      <input
                        type="password"
                        id="form3Example4c"
                        class="form-control"
                        name="password"
                        required
                        [(ngModel)]="userForm.password"
                        #password="ngModel"
                      />
                      <label class="form-label" for="form3Example4c"
                        >Password</label
                      >
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <small class="text-danger" *ngIf="!confirmPassword.valid"
                        >confirmPassword is required</small
                      >
                      <small
                        class="text-danger"
                        *ngIf="password.value != confirmPassword.value"
                        >Passwords dont match</small
                      >
                      <input
                        type="password"
                        id="form3Example4cd"
                        class="form-control"
                        name="confirmPassword"
                        required
                        [(ngModel)]="userForm.confirmPassword"
                        #confirmPassword="ngModel"
                        (ngModelChange)="validate()"
                      />
                      <label class="form-label" for="form3Example4cd"
                        >Repeat your password</label
                      >
                      
                     
                      
                     
                    
                    </div>
                    
                  </div>
                  <p class="form-check d-flex mb-4">
                    Already Registered
                    <a routerLink="/login" class="link-danger"> login</a>
                  </p>

                  <div class="form-check d-flex mb-5">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      value=""
                      id="form2Example3c"
                    />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in
                      <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">
                      Register
                    </button>
                  </div>
                </form>
              </div>
              <div
                class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
              >
                <img
                  src="https://www.apetogentleman.com/wp-content/uploads/2020/09/casual-shoes.jpg"
                  class="img-fluid"
                  alt="Sample image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
